@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes shimmer {
    0% { background-position: -500px 0; }
    100% { background-position: 500px 0; }
  }
  .animate-shimmer {
    background-size: 200% auto;
    animation: shimmer 3s linear infinite;
  }
  